html {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    background: var(--black);
}

.nav__button__container--desktop {
    display: none;
}

.header__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background-color: var(--dash-nav);
    width: 100%;
    height: 125px;
    box-shadow: 5px 5px 15px var(--black);
}

.header__logo__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    font-weight: 600;
    font-size: .8rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--title-color);
}

.header__logo {
    width: 70px;
    height: 70px;
}

h1 {
    text-align: center;
    font-weight: 600;
    font-size: .9rem;
    font-family: Arial, Helvetica, sans-serif;
    color: var(--title-color);
}

.nav__menu__container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    height: 100%;
}

#dark__toggle {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 50px;
    border: 2px solid var(--dash-dark-toggle-border);
    background-color: var(--dash-dark-toggle-background);
    cursor: pointer;
    padding: 5px;
    width: 40px;
    margin: 0px 15px 0px 0px;
}

#dark__toggle .ball {
    position: absolute;
    top: 2px;
    left: 2px;
    background-color: var(--dash-dark-toggle-ball);
    border-radius: 50%;
    height: 22px;
    width: 22px;
    transform: var(--ball-transition);
    transition: transform 0.2s linear;
}

.fa-sun {
    color: rgb(236, 137, 39);
}

.fa-moon {
    color: var(--white);
}

.nav__menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    border-style: none;
    background-color: var(--dash-menu);
    color: var(--dash-menu-content);
    height: 125px;
    width: 125px;
    cursor: pointer;
    transition: .5s;
}

.nav__menu:hover {
    transition: .5;
    color: var(--black);
    background-color: var(--white);
}

.fa-user-tie {
    border: 1px solid;
    border-radius: 50%;
    padding: 3px;
    transform: scale(2.5);
    margin: 10px 0px;
}

#username {
    font-weight: 600;
    font-size: .8rem;
    margin: 10px 0px;
    max-width: 90%;
}

.nav__button__container {
    position: absolute;
    top: 125px;
    right: 0;
    display: flex;
    flex-direction: column;
    min-width: 220px;
    width: 50%;
    max-width: 300px;
    z-index: 1;
    box-shadow: 5px 5px 10px var(--black);
}

.nav__button__container button {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    cursor: pointer;
    background-color: var(--black);
    color: var(--white);
    font-size: .9rem;
    font-weight: 500;
    padding: 15px;
    text-align: start;
    border-style: none;
    border-bottom: 1px solid var(--grey);
    transition: .5s;
}

.nav__button__container button:hover {
    filter: invert(100%);
    transition: .5s;
}

.nav__button__container button i {
    color: var(--grey);
    transform: scale(1.2);
}

.nav__button__container ul {
    display: flex;
    flex-direction: column;
}

.nav__button__container ul li {
    background-color: var(--dash-menu-content);
    color: var(--title-color);
    font-size: .9rem;
    font-weight: 700;
    padding: 10px;
    border-bottom: 2px solid var(--black);
    cursor: pointer;
    transition: .5s;
}

.nav__button__container ul li:hover {
    color: var(--white);
    background-color: var(--dash-dark-toggle-ball);
    transition: .5s;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    min-height: 865px;
}

main ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

main img {
    display: block;
    position: relative;
    height: 500px;
    width: 100%;
    object-fit:cover;
    object-position: 50% 50%;
    z-index: -1;
}

.main__list__container {
    position: absolute;
    top: 125px;
    bottom: 0;
    right: 50%;
    transform: translateX(50%);
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    width: 90%;
    height: 100%;
    max-height: 480px;
    margin: 5px 0px;
    border: 1px solid white;
    overflow-y: auto;
    background-color: rgb(0, 0, 0, 0.5);
}

.main__list__container li {
    width: 90%;
    color: white;
    border: 2px solid var(--pause-button);
    margin: 10px;
}

.main__list__container li p {
    font-weight: 700;
    margin: 5px;
}

footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-end;
    gap: .5rem;
    width: 100%;
    height: 100%;
    color: var(--white);
    background-color: var(--black);
    font-size: .7rem;
    font-weight: 300;
}

footer i {
    margin: 20px;
    transform: scale(2.5);
}

footer p {
    padding: 10px
}

.hidden {
    display: none;
}

.hiddenOptions li {
    display: none;
}

.admin {
    display: none !important;
}

/*******************************************************************************************************************************************/
/********************************************************DESKTOP INTERFACE******************************************************************/
/*******************************************************************************************************************************************/
@media (min-width: 768px) {

    .hiddenMobile {
        display: none !important;
    }

    .nav__button__container--desktop {
        display: block;
        display: flex;
        align-items: center;
        justify-content: flex-end;
        width: 60%;
        max-width: 600px;
    }

    .nav__button__container--desktop .button {
        cursor: pointer;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        color: var(--white);
        background-color: var(--dash-menu);
        height: 125px;
        width: 150px;
        font-size: 1rem;
        font-weight: 600;
        border: none;
        z-index: 2;
    }

    .nav__button__container--desktop .button:hover {
        /*BIG MENU BUTTONS!*/

    }

    .nav__button__container--desktop .button i {
        color: var(--grey);
    
    }
    
    .company__button--desktop {
        position: relative;
    }

    .company__button--desktop ul {
        position: absolute;
        top: 125px;
        left: 0px;
        color: var(--title-color);
        background-color: var(--dash-menu-content);
        font-size: .9rem;
        font-weight: 600;
        width: 100%;
        z-index: 2;
        box-shadow: 5px 5px 10px var(--black);
    }

    .company__button--desktop ul li {
        padding: 15px 10px;
        border-bottom: 2px solid var(--black);
    }

    .company__button--desktop ul li:hover {
        color: var(--white);
        background-color: var(--dash-dark-toggle-ball);
        transition: .5s;
    }

    .sectors__button--desktop {
        position: relative;
    }

    .sectors__button--desktop ul {
        position: absolute;
        top: 125px;
        left: 0px;
        color: var(--title-color);
        background-color: var(--dash-menu-content);
        font-size: .9rem;
        font-weight: 600;
        width: 100%;
        z-index: 2;
        box-shadow: 5px 5px 10px var(--black);
    }

    .sectors__button--desktop ul li {
        padding: 15px 10px;
        border-bottom: 2px solid var(--black);
    }

    .sectors__button--desktop ul li:hover {
        color: var(--white);
        background-color: var(--dash-dark-toggle-ball);
        transition: .5s;
    }

    .department__button--desktop {
        position: relative;
    
    }

    .department__button--desktop ul {
        position: absolute;
        top: 125px;
        left: 0px;
        color: var(--title-color);
        background-color: var(--dash-menu-content);
        font-size: .9rem;
        font-weight: 600;
        min-width: 250px;
        z-index: 2;
        box-shadow: 5px 5px 10px var(--black);
    }

    .department__button--desktop ul li {
        padding: 15px 10px;
        border-bottom: 2px solid var(--black);
    }

    .department__button--desktop ul li:hover {
        color: var(--white);
        background-color: var(--dash-dark-toggle-ball);
        transition: .5s;
    }

}

/*******************************************************************************************************************************************/
/***********************************************************MODALS**************************************************************************/
/*******************************************************************************************************************************************/
.form__container {
    position: absolute;
    top: 100px;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    color: var(--white);
    background-color: var(--black);
    border-radius: 20px;
    width: 80%;
    height: -moz-fit-content;
    height: fit-content;
    box-shadow: 5px 5px 10px var(--black);
    max-width: 400px;
    z-index: 2000;
}

.form__modal {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: .5rem;
}

.form__title__container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    width: 100%;
    margin: 10px 0px;
}

.form__modal h1 {
    color: var(--white);
    text-align: center;
    font-size: 2rem;
    font-weight: 400;
    width: 100%;
    margin-left: 15px;
    margin-top: 30px;
}

.fa-xmark {
    cursor: pointer;
    transform: scale(1.5);
    margin-right: 15px;
}

.form__modal__container {
    display: flex;
    flex-direction: column;
    width: 80%;
    gap: .1rem;
}

label {
    color: var(--white);
    font-size: .8rem;
    font-weight: 700;
    margin-top: 20px;
}

.form__modal__container input {
    border-radius: 10px;
    border-style: none;
    border: none;
    padding: 10px;
    margin-top: 5px;
    font-size: .8rem;
}

.form__button {
    cursor: pointer;
    color: var(--black);
    background-color: var(--white);
    font-size: .7rem;
    font-weight: 700;
    padding: 5px;
    border-radius: 10px;
    border-color: transparent;
    margin-top: 50px;
    transition: .5s;
    width: 50%;
    min-width: 105px;
    align-self: center;
}

.form__button:hover {
    filter: invert(90%);
    transition: .5s;
}

.form__modal__container p {
    font-size: .7rem;
    align-self: center;
    margin: 15px 0px;
}

.form__handle {
    cursor: pointer;
    text-decoration: underline;
    color: var(--white);
}