main {
    display: flex;
    position: relative;
}

.menu__container {
    display: flex;
    justify-content: space-between;
    background-color: black;
    width: 100%;
    height: 80px;
}

.menu__logo {

}

.menu__user__image {
    width: 50px;
    height: 100%;
}

.menu__nav {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
}

.menu__nav ul {
    display: flex;
    justify-content: flex-end;
    height: 100%;
    width: 600px;
}

.menu__nav ul li {
    display: flex;
    align-items: center;
    padding: 0px 10px;
}

.menu__nav ul li a {
    color: white;
    font-size: .9rem;
    text-decoration: none;
    font-family: Arial, Helvetica, sans-serif;
}

.menu__nav__icon {
    color: white;
    filter: invert(100%);
}

#main__background__video {
    width: 100%;
}

.main__title__container {
    position: absolute;
    right: 0;
    bottom: 0;
}

.main__title__container h1 {
    color: white;
    font-size: 2rem;
}

.main__title__container p {
    color: white;
    font-size: .9rem;
}

.main__title__container {
    position: absolute;
    width: 100%;
    bottom: 0;
    background-color: black;
    opacity: 30%;
    color: white;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 2rem;
}


.menu__options__first--mobile {
    border-radius: 10px 10px 0px 0px;
}

.menu__options__last--mobile {
    border-radius: 0px 0px 10px 10px;
}


#dark__toggle::after {
    display: block;
    content: '';
   width: 70px;
   height: 6px;
   background: var(--black);
   position: absolute;
   bottom: -27px;
   left: -13px;
   cursor: none;
}



{uuid: '98275576-3699-4bf2-b18f-ea92c0147feb', is_admin: false, username: 'Whatever', email: 'whatever@kenzie.com', password: '$2a$08$2HhjW4xs1RyaXzhRNAZP.Ol1pxFzjWieIG0ymM8JyK2CKDayDgiaO'}
email
: 
"whatever@kenzie.com"
is_admin
: 
false
password
: 
"$2a$08$2HhjW4xs1RyaXzhRNAZP.Ol1pxFzjWieIG0ymM8JyK2CKDayDgiaO"
username
: 
"Whatever"
uuid
: 
"98275576-3699-4bf2-b18f-ea92c0147feb"
[[Prototype]]
: 
Object


{uuid: 'b4dcd60b-d20d-4adf-9ed5-2b30bcd8a848', is_admin: false, username: 'dasdasd', email: 'adasd@asdasd.com', password: '$2a$08$knLc13ynRvHWfY0B6vb0VOft9RWVThR2l9HxgaCYQmGhk2nsrWDYy', …}
email
: 
"adasd@asdasd.com"
is_admin
: 
false
password
: 
"$2a$08$knLc13ynRvHWfY0B6vb0VOft9RWVThR2l9HxgaCYQmGhk2nsrWDYy"
professional_level
: 
"júnior"
username
: 
"dasdasd"
uuid
: 
"b4dcd60b-d20d-4adf-9ed5-2b30bcd8a848"
[[Prototype]]
: 
Object


.main__title__container {
    position: -webkit-sticky;
    position:sticky;
    bottom: 0;
    color: var(--white);
    background: rgba(0, 0, 0, 0.5);
    margin-top: -250px;
    max-width: 100%;
    padding: 10px;
}


.main__list__container {
    position: absolute;
    top: 0;
    bottom: 0;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

/* 
// const sample = {
    //      "name": 'Skina Lanches', 
    //      "opening_hours": '09:00', 
    //      "description": 'Podrão de qualidade', 
    //      "sectors": 
    //          {"uuid": '08502c47-9072-4c11-803c-5c4dd72c0531',
    //          "description": 'Alimenticio'},
    //      "uuid": '831b0657-85cf-40d6-872f-366f7ac57920',
    // } */